!Original 
#Workload: insert phase: 50000000 inserts / mixed phase: 50000000 requests
Insert phase[0]: seconds: 17.7363 | instructions: 3.69963e+10 | cycles: 8.95533e+10 | 
Lookup phase[0]: seconds: 18.4433 | instructions: 2.59437e+10 | cycles: 9.31299e+10 | 
Insert phase[1]: seconds: 18.454 | instructions: 3.62425e+10 | cycles: 9.31799e+10 | 
Lookup phase[1]: seconds: 19.6706 | instructions: 2.59645e+10 | cycles: 9.92125e+10 | 
Insert phase[2]: seconds: 18.9916 | instructions: 3.62079e+10 | cycles: 9.58292e+10 | 
Lookup phase[2]: seconds: 18.865 | instructions: 2.59509e+10 | cycles: 9.52331e+10 | 
Insert phase[3]: seconds: 18.6332 | instructions: 3.6177e+10 | cycles: 9.40778e+10 | 
Lookup phase[3]: seconds: 19.077 | instructions: 2.59525e+10 | cycles: 9.63258e+10 | 
Insert phase[4]: seconds: 19.01 | instructions: 3.61789e+10 | cycles: 9.59764e+10 | 
Lookup phase[4]: seconds: 18.965 | instructions: 2.59508e+10 | cycles: 9.57509e+10 | 
Insert phase[5]: seconds: 18.9048 | instructions: 3.6179e+10 | cycles: 9.54346e+10 | 
Lookup phase[5]: seconds: 19.2662 | instructions: 2.59541e+10 | cycles: 9.72522e+10 | 
Insert phase[6]: seconds: 18.8387 | instructions: 3.61751e+10 | cycles: 9.5127e+10 | 
Lookup phase[6]: seconds: 19.1034 | instructions: 2.59513e+10 | cycles: 9.64456e+10 | 
Insert phase[7]: seconds: 19.0435 | instructions: 3.61798e+10 | cycles: 9.61468e+10 | 
Lookup phase[7]: seconds: 19.025 | instructions: 2.59501e+10 | cycles: 9.60693e+10 | 
Insert phase[8]: seconds: 18.7463 | instructions: 3.6173e+10 | cycles: 9.46617e+10 | 
Lookup phase[8]: seconds: 19.3475 | instructions: 2.59624e+10 | cycles: 9.76677e+10 | 
Insert phase[9]: seconds: 19.0119 | instructions: 3.61853e+10 | cycles: 9.59536e+10 | 
Lookup phase[9]: seconds: 19.3386 | instructions: 2.59723e+10 | cycles: 9.76185e+10 | 

!multi-threading
#Workload: insert phase: 50000000 inserts / mixed phase: 50000000 requests
Insert phase[0]: seconds: 1.63236 | instructions: 2.34529e+09 | cycles: 7.45167e+09 | 
Lookup phase[0]: seconds: 1.42377 | instructions: 1.62092e+09 | cycles: 6.96267e+09 | 
Insert phase[1]: seconds: 1.63749 | instructions: 2.27089e+09 | cycles: 7.734e+09 | 
Lookup phase[1]: seconds: 1.44995 | instructions: 1.61939e+09 | cycles: 7.00902e+09 | 
Insert phase[2]: seconds: 1.59952 | instructions: 2.2675e+09 | cycles: 7.79731e+09 | 
Lookup phase[2]: seconds: 1.47673 | instructions: 1.62033e+09 | cycles: 7.18308e+09 | 
Insert phase[3]: seconds: 1.62828 | instructions: 2.27018e+09 | cycles: 7.87464e+09 | 
Lookup phase[3]: seconds: 1.49027 | instructions: 1.62234e+09 | cycles: 7.22515e+09 | 
Insert phase[4]: seconds: 1.6325 | instructions: 2.26794e+09 | cycles: 7.80514e+09 | 
Lookup phase[4]: seconds: 1.51197 | instructions: 1.62236e+09 | cycles: 7.24177e+09 | 
Insert phase[5]: seconds: 1.61983 | instructions: 2.2687e+09 | cycles: 7.83117e+09 | 
Lookup phase[5]: seconds: 1.52495 | instructions: 1.62504e+09 | cycles: 7.3015e+09 | 
Insert phase[6]: seconds: 1.65668 | instructions: 2.2731e+09 | cycles: 7.85018e+09 | 
Lookup phase[6]: seconds: 1.50383 | instructions: 1.62016e+09 | cycles: 7.26916e+09 | 
Insert phase[7]: seconds: 1.64043 | instructions: 2.26925e+09 | cycles: 7.94457e+09 | 
Lookup phase[7]: seconds: 1.63021 | instructions: 1.62372e+09 | cycles: 7.4635e+09 | 
Insert phase[8]: seconds: 1.72338 | instructions: 2.2692e+09 | cycles: 8.00271e+09 | 
Lookup phase[8]: seconds: 1.53046 | instructions: 1.62104e+09 | cycles: 7.30432e+09 | 
Insert phase[9]: seconds: 1.67604 | instructions: 2.26829e+09 | cycles: 7.98336e+09 | 
Lookup phase[9]: seconds: 1.49947 | instructions: 1.61997e+09 | cycles: 7.28806e+09 | 

!lookup batched 
#Workload: insert phase: 50000000 inserts / mixed phase: 50000000 requests
Insert phase[0]: seconds: 1.57057 | instructions: 2.31991e+09 | cycles: 7.53821e+09 | 
Lookup phase[0]: seconds: 0.797958 | instructions: 2.01069e+09 | cycles: 3.92419e+09 | 
Insert phase[1]: seconds: 1.62022 | instructions: 2.27256e+09 | cycles: 7.77949e+09 | 
Lookup phase[1]: seconds: 0.737457 | instructions: 2.01087e+09 | cycles: 3.65272e+09 | 
Insert phase[2]: seconds: 1.73489 | instructions: 2.26766e+09 | cycles: 7.73292e+09 | 
Lookup phase[2]: seconds: 0.7419 | instructions: 2.01098e+09 | cycles: 3.66294e+09 | 
Insert phase[3]: seconds: 1.63251 | instructions: 2.26743e+09 | cycles: 7.76537e+09 | 
Lookup phase[3]: seconds: 0.746898 | instructions: 2.01123e+09 | cycles: 3.62744e+09 | 
Insert phase[4]: seconds: 1.6497 | instructions: 2.27432e+09 | cycles: 7.80177e+09 | 
Lookup phase[4]: seconds: 0.750124 | instructions: 2.01008e+09 | cycles: 3.61439e+09 | 
Insert phase[5]: seconds: 1.65854 | instructions: 2.27253e+09 | cycles: 7.97746e+09 | 
Lookup phase[5]: seconds: 0.799149 | instructions: 2.01184e+09 | cycles: 3.64198e+09 | 
Insert phase[6]: seconds: 1.66154 | instructions: 2.2648e+09 | cycles: 7.88524e+09 | 
Lookup phase[6]: seconds: 0.737213 | instructions: 2.011e+09 | cycles: 3.6131e+09 | 
Insert phase[7]: seconds: 1.66568 | instructions: 2.32302e+09 | cycles: 7.99051e+09 | 
Lookup phase[7]: seconds: 0.748311 | instructions: 2.01202e+09 | cycles: 3.63357e+09 | 
Insert phase[8]: seconds: 1.70432 | instructions: 2.30452e+09 | cycles: 7.99429e+09 | 
Lookup phase[8]: seconds: 0.738824 | instructions: 2.01337e+09 | cycles: 3.62232e+09 | 
Insert phase[9]: seconds: 1.66066 | instructions: 2.27382e+09 | cycles: 7.9726e+09 | 
Lookup phase[9]: seconds: 0.739535 | instructions: 2.01031e+09 | cycles: 3.62531e+09 | 

!simd
#Workload: insert phase: 50000000 inserts / mixed phase: 50000000 requests
Insert phase[0]: seconds: 1.67247 | instructions: 2.22432e+09 | cycles: 7.96765e+09 | 
Lookup phase[0]: seconds: 0.662886 | instructions: 1.81066e+09 | cycles: 3.08346e+09 | 
Insert phase[1]: seconds: 1.73109 | instructions: 2.21474e+09 | cycles: 8.06121e+09 | 
Lookup phase[1]: seconds: 0.574172 | instructions: 1.81047e+09 | cycles: 2.87146e+09 | 
Insert phase[2]: seconds: 1.70592 | instructions: 2.20441e+09 | cycles: 7.99643e+09 | 
Lookup phase[2]: seconds: 0.573143 | instructions: 1.81064e+09 | cycles: 2.8584e+09 | 
Insert phase[3]: seconds: 1.96345 | instructions: 2.22735e+09 | cycles: 8.50733e+09 | 
Lookup phase[3]: seconds: 0.581783 | instructions: 1.81033e+09 | cycles: 2.82075e+09 | 
Insert phase[4]: seconds: 1.75487 | instructions: 2.21276e+09 | cycles: 8.03553e+09 | 
Lookup phase[4]: seconds: 0.614774 | instructions: 1.81075e+09 | cycles: 3.02594e+09 | 
Insert phase[5]: seconds: 1.74842 | instructions: 2.2115e+09 | cycles: 7.97853e+09 | 
Lookup phase[5]: seconds: 0.584677 | instructions: 1.81046e+09 | cycles: 2.87685e+09 | 
Insert phase[6]: seconds: 1.74826 | instructions: 2.20594e+09 | cycles: 8.02764e+09 | 
Lookup phase[6]: seconds: 0.584054 | instructions: 1.81041e+09 | cycles: 2.87274e+09 | 
Insert phase[7]: seconds: 1.78286 | instructions: 2.23917e+09 | cycles: 8.03399e+09 | 
Lookup phase[7]: seconds: 0.621757 | instructions: 1.81078e+09 | cycles: 3.09599e+09 | 
Insert phase[8]: seconds: 1.83931 | instructions: 2.20187e+09 | cycles: 8.14916e+09 | 
Lookup phase[8]: seconds: 0.629654 | instructions: 1.81056e+09 | cycles: 3.045e+09 | 
Insert phase[9]: seconds: 1.85851 | instructions: 2.20882e+09 | cycles: 8.03745e+09 | 
Lookup phase[9]: seconds: 0.581952 | instructions: 1.80987e+09 | cycles: 2.84492e+09 | 

